NEXT_PUBLIC_ENVIRONMENT=dev
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=24964279832-t8png84dsk1qrgr6mi6e44ojrm2oj9ng.apps.googleusercontent.com
NEXT_PUBLIC_ENCRYPTION_KEY=learning-ttn-secret-key-32chars!
