$white_color: #ffffff;
$black_color: #000000;
$primary_color: #2E1C41;
$secondary_color: #DE1186;
$secondary_color_opacity: rgba(222, 17, 134, .7);
$grey_text_color: #83868E;
$light_grey_text_color: #a9a9aa;
$dark_grey_text_color: #212529;
$light_grey: #F5F6F8;
$grey_background: #F8F8F8;
$light_grey_background: #d3d3d3;
$secondary_grey_color: #EDEDF6;
$blue_color: #1D183E;
$border_color: rgba(43, 30, 63, .2);
$darkBorder_color: rgba(43, 30, 63, .5);
$darkerBorder_color: rgba(43, 30, 63, .8);
$grey_background_dark: rgba(46, 28, 65, 1);
$grey_background_light: rgba(46, 28, 65, .1);
$box_shadow: #0000000D;
$box_shadow_light: #0000000A;
$box_shadow_dark: #00000029;
$ticket_status_open: #009531;
$activated_color: #2E7B4F;
$ticket_status_closed: #B70634;
$modal_border_clor :#ECEDF2;
$orange_color: #ffaf00;
$skyblue_color: #F0F6FF;
$dark_blue_color: #265097;
$pink_border: #CC3284;
$grey_search_border: #E4E5E8;
$primary_separator: #EFF0F5;
$primary_color_fadded: rgba(46, 28, 65, .5);
$base_background: #FAFAFA;
$dateRangeBorder: #ced4da;
$table_header_color: #f8f9fa;
$button_border: #DCE0EB;
$hyperlink_color: #0D6EFD;
$hyperlink_hover_color: #0A58CA;
$indigo_color: #073763;
$grey_color: rgba(46, 28, 65, 0.7);
$filter_tags_bg_color: rgba(222, 17, 134, .15);
$filter_tags_border_color: #0000001f;
$input_border: #EEEEEE;
$calendar_icon_border: #ecedf3;
$grey_circle_background: #e5e6e7;
$disabled_field_grey_color: rgba(0, 0, 0, 0.60);
$error_text: #f44336;
$danger_color: #ff4d4f;
$success_color: #1ab394;
$icon_grey: #4F5B67;
$text_muted_grey: #4A5568;
$secondary_bg_light: #FFF8FB;
$secondary_border_light: #FDEAF2;
$accent_blue: #0052cc;
$dark_text_color: #333333;
$svg_path_color: #7477ac;
$ant_success_color: #52c41a;
$grey_heading_border: rgba(169, 169, 170, 0.2);